*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: rgb(0, 0, 0);
    --color-secundario: white;
}

.caja1{
    display: flex;
    flex-wrap: wrap;
    margin: 260px 30px 285px 30px;
}

.caja2{
    background-color: var(--color-primario);
    text-align: center;
    padding: 40px 0px 27px 0px;
}

.caja3{
    flex-wrap: wrap;
    margin: 81px 30px 81px 30px;
}

.caja4{
    margin-top: 290px 30px 100px 30px;
}


ul{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-secundario);
}


.item1{
    padding: 20px
}

.item2{
    padding: 20px;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Teko', sans-serif;
    font-size: 50pt;
    text-align: center;
    margin-top: 100px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* Comienzo Slider */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }
  /* Fin Slider */
